<div>
    
     <button type="button" class="btn btn-primary btn-m" ng-click="payForMeal()" ng-disabled="asynchWait">Clear Basket</button>	   
<div class="row">
<div class="col-md-12" >
    <h1>Total price: </h1> <p>€ {{ sum() }}</p>
    
<h1>Your Basket</h1>
    <p>
 <div class="form-group">
  <label for="fn">First Name:</label>
  <input type="text" placeholder="Name" ng-model="firstname" class="form-control" id="fn">
</div><p>
 
 <hr>
    
 
 <div class="row">
 <div class="col-md-1">
	Item Number
 </div>
  <div class="col-md-1">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="showBasket" >
 <div id="{{b._id}}" class="row" ng-repeat="b in basket  | orderBy:['category',' name', 'price'] track by b._id">
 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{b.category}}
		 </div>
		  <div class="col-md-3">
			{{b.name}}
		 </div>
		  <div class="col-md-1">
			{{b.price | currency}}
		 </div>
     
<div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="removeFromBasket($index,b._id,b)">Remove</button>
    &nbsp;
		 </div>	
		  <div class="col-md-1">
		 </div>
</div>
     <button type="button" class="btn btn-primary btn-xs" ng-click="addingToOrder(basket, firstname, sum()); payForMeal();">Add To Order</button>
</div> 
    </div>
    </div>
</div>
</div>
