<div>
    
       
<div class="row">
<div class="col-md-12" >
   
    
<h1>Orders Page</h1>
  
    <button type="button" class="btn btn-primary btn-m" ng-click="clearOrders()" ng-disabled="asynchWait">Clear Orders</button>	
 <hr>
    <div>
        
 
 
 <div id="displayorders" >
 <div id="{{o._id}}" class="row" ng-repeat="o in orders  | orderBy:['category',' name', 'price'] track by o._id">
     <h1>Customer Name: {{o.firstname}}</h1>
     <div class="row">
 <div class="col-md-1">
	Item Number
 </div>
  <div class="col-md-1">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
     <br/>
     <div ng-repeat="orderinfo in o.orderdetails">
        
 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{orderinfo.category}}
		 </div>
		  <div class="col-md-3">
			{{orderinfo.name}}
		 </div>
		  <div class="col-md-1">
			{{orderinfo.price | currency}}
		 </div>
         <br/>
     </div>
     <h3>Order Total: {{o.total | currency}}</h3>
     <br/>
<div class="col-md-1">
			 
    &nbsp;
		 </div>	
		  <div class="col-md-1">
		 </div>
</div>
    
</div> 
    </div>
    </div>
</div>
</div>
