<div>
    
     <button type="button" class="btn btn-primary btn-m" ng-click="" ng-disabled="asynchWait">Pay for meal?</button>	   
<div class="row">
<div class="col-md-12" >
    <h1>Total price: </h1> <p>€</p>
    
<h1>Your Basket</h1>
    <p>
 Basket Size: <p>
 
 <hr>
 
 <div class="row">
 <div class="col-md-1">
	Item Number
 </div>
  <div class="col-md-1">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price
 </div>

</div> 
 <div id="displayorders" >
 <div id="{{o._id}}" class="row" ng-repeat="o in orders  | orderBy:['category',' name', 'price'] track by o._id">
     <div ng-repeat="orderinfo in o.orderdetails">
 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{orderinfo.category}}
		 </div>
		  <div class="col-md-3">
			{{orderinfo.name}}
		 </div>
		  <div class="col-md-1">
			{{orderinfo.price}}
		 </div>
     </div>
     
<div class="col-md-1">
			 
    &nbsp;
		 </div>	
		  <div class="col-md-1">
		 </div>
</div>
     
</div> 
    </div>
    </div>
</div>
</div>
