<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<title>Chipper MEAN</title>

<link href="css/main.css" rel="stylesheet" />

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	 
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" ></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" ></script>
	
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js" ></script>
	

<script type="text/javascript" src="/js_thirdparty/notify/bootstrap-notify.js"></script> 	 	
<script type="text/javascript" src="/js_thirdparty/notify/angular-lightify.js"></script>   	
	
	
<script type="text/javascript" src="js/controllers/controllers.js"  > </script>
<script type="text/javascript" src="js/app.js" > </script>

</head>
    </br>
    </br>


<body ng-app="ChipperMEANApp">

     <script type="text/ng-template" id="displayfood">
 
		 <div class="col-md-2">
		 {{$index+1}}
		 </div>
		  <div class="col-md-2"   >
			{{m.category}}
		 </div>
		  <div class="col-md-4">
			{{m.name}}
		 </div>
		  <div class="col-md-1">
			{{m.price | currency}}
		 </div>
<div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="add2Basket($index,m._id,m)">Add to Basket</button>
    &nbsp;
		 </div>	
		  <div>
		 </div>

    </script>
	
	    <script type="text/ng-template" id="displayspecials">
 
		 <div class="col-md-3">
		 {{$index+1}}
		 </div>
		  <div class="col-md-3"   >
			{{s.category}}
		 </div>
		  <div class="col-md-3">
			{{s.name}}
		 </div>
		  <div class="col-md-1">
			{{s.price | currency}}
		 </div>
<div class="col-md-1">
		
    &nbsp;
		 </div>	
		  <div>
		 </div>

    </script>
         <script type="text/ng-template"  id="displaybasket">
 
		 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{b.category}}
		 </div>
		  <div class="col-md-3">
			{{b.name}}
		 </div>
		  <div class="col-md-1">
			{{b.price | currency }}
		 </div>
<div class="col-md-1">
			 <button type="button" class="btn btn-lg btn-success" ng-click="RemoveFromBasket($index,b._id,b)">Remove from Basket</button>
    &nbsp;
		 </div>	
		  <div class="col-md-1">
			{{b._id}}
		 </div>

    </script>
    <script type="text/ng-template"  id="displaySpecials">
 
		 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{s.category}}
		 </div>
		  <div class="col-md-3">
			{{s.name}}
		 </div>
		  <div class="col-md-1">
			{{s.price}}
		 </div>

		 

    </script>
   <div class="row">
         <!-- HEADER AND NAVBAR -->
        <header>
     
			
        </header>
        <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Davids Chipper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			  <li><a href="#menu">Menu</a></li>
             <li><a href="#basket">Pay</a></li>
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            

           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	   
 <div nrz-lightify-messages position="top-right"></div>

</div>
 
  
					   <div class="row">
					   <div class="col-md-1" ></div>
					   <!-- content placed here from routing -->
					   <div class="col-md-10" >
							<div ng-view ></div>
							</div>
						<div class="col-md-1" ></div>
					  </div>

 
</body>
</html>
 